<block-ui></block-ui>
<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Eleciones APP</span>
    <span class="example-spacer"></span>
    <button mat-button [matMenuTriggerFor]="belowMenu">Administrar</button>
    <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item routerLink="/person">Personas</button>
    </mat-menu>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
    </button>
</mat-toolbar>
<div class="container">
    <div class="row content">
        <div class="col-12">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>